<footer class="site-footer">
           
            <p> <p id="date"></p> Dev-Davey. All rights reserved.</p>
            <p>Visit <a target="_blank" href="https://DevDavey.com">DevDavey.com</a> for projects!</p>
            <script>document.getElementById("date").innerHTML = '©' + new Date().getFullYear();</script>
            
          </footer>
          